main {
  // min-height: 700px;

  .breadcrumb {
    background-color: transparent;

    .breadcrumb-item.active {
      color: $primary;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      content: '>';
    }
  }

  .input-search {
    background: $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: none;

    &::placeholder {
      font-size: 1rem;
      color: $gray-3;
    }
  }

  .icon-search {
    position: absolute;
    top: 12px;
    right: 18px;
    color: $gray-2;
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

  .page-item:last-child .page-link, .page-item:first-child .page-link {
    display: none;
  }

  //.page-item disabled[role='separator'] .page-link {
  //  border-color: transparent !important;
  //  color: $primary !important;
  //}
}
