// colors
$primary: #00c853;
$success: #0ead69;
$danger: #fe5656;

// Grayscales
$white: #ffffff;
$gray-1: #e5e5e5;
$gray-2: #7b7b7b;
$gray-3: rgba(123, 123, 123, 0.5);
$gray-4: #373737;
$black: #000000;

//buttons
$default: #00c853;
$pressed: rgba(0, 200, 83, 0.5);
$active-border: #00712f;
$disabled: #817F7F;

// spacers
$spacer: 1rem !default;

// font-sizes
$font-10: 0.7rem;
$font-12: 0.85rem;
$font-14: 1rem;
$font-16: 1.15rem;
$font-18: 1.29rem;
$font-20: 1.43rem;
$font-22: 1.57rem;
$font-24: 1.71rem;
$font-26: 1.85rem;
$font-28: 2rem;
$font-30: 2.14rem;

// font-weight
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// global variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$grid-xs: map-get($grid-breakpoints, 'xs');
$grid-sm: map-get($grid-breakpoints, 'sm');
$grid-md: map-get($grid-breakpoints, 'md');
$grid-lg: map-get($grid-breakpoints, 'lg');
$grid-xl: map-get($grid-breakpoints, 'xl');

// global variables
$global-border-radius: 25px;
$global-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.16);
$global-box-shadow__hover: 0 5px 15px rgba(0, 0, 0, 0.3);
$global-transition: 300ms;
$input-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
