body {
  padding-top: 90px; // ~ height of header
}

.wj-header {
  top: 0;
  z-index: 1000;
  
  .navbar {
    height: 90px;
    background: $white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    color: $black;
  }
}
