main {
  // min-height: 700px;

  .breadcrumb {
    background-color: transparent;

    .breadcrumb-item.active {
      color: $primary;
    }
    .breadcrumb-item + .breadcrumb-item::before {
      content: '>';
    }
  }
  .category-section {
    height: 350px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px 0px 0px 15px;
  }

  .result-section {
    .blog-card {
      height: 200px;
      box-shadow: 0px 0px 30px rgba(0, 200, 83, 0.05);
      border-radius: 15px;

      .blog-img{
        height: 200px;
        width: 100%;
      }
    }
  }
}
